#search-form {
  margin-bottom: 10px;
}

#image-areas {
 height: 960px;
 margin-right: auto;
 margin-left: auto;
}

body.archive-show {
  background-color: black;
}

.page-link-area {
  font-size: 24px;
  text-align: center;

  .page-link {
    margin-right: 40px;
  }
}
